<div class="container">

  <h2>Search comic</h2>

  <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search by volume name" aria-label="Search"
    aria-describedby="search-addon" [(ngModel)]="searchToken" (keydown)="filterByVolumeName()"/>
    <span class="input-group-text border-0" id="search-addon" type="button" (click)="filterByVolumeName()">
      <fa-icon [icon]="faSearch"></fa-icon>
    </span>
  </div>  

  <div *ngIf="comics" class="mt-5">
    <div *ngFor="let comic of filteredComics">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h5 class="card-title">{{ comic.name }}</h5>
              <h5 *ngIf="!comic.name" class="card-title">No comic name available</h5>
              <h6 class="card-subtitle mb-2 text-muted">Issue number: {{ comic.issue_number }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Volume: {{ comic.volume.name }}</h6>
              <p class="card-text" [innerHTML]="comic.description"></p>
              <p class="card-text" *ngIf="!comic.description">No description available</p>    
            </div>
            <div class="col-4">
              <div class="float-end"><img src={{comic.image.small_url}} height="400"></div>
              <div *ngIf="comic.cover_date" class="float-end">Cover date: {{comic.cover_date}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
